@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-center" }))
    {
        @Html.AntiForgeryToken()
        
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj mnie</a></li>
                    </ul>
               
        <ul class="nav navbar-nav navbar-left">
            <li>
                @Html.ActionLink("Twoje dane", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "YourData" })
            </li>
            <li>
                @Html.ActionLink("Twoje zamówienia", "OrderList", "Manage", routeValues: null, htmlAttributes: new { id = "YourOrders" })
            </li>
            
                @if (@User.IsInRole("Admin"))
                {
                    <li>
                        @Html.ActionLink("Dodaj produkt", "AddProduct", "Manage", routeValues: null, htmlAttributes: new { id = "YourOrders" })
                    </li> 
                }
            

        </ul>

              
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


